/* Style the entire container background */
window {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

frame.background {
    background-color: rgba(46, 46, 46, 0.8);
    border-radius: 0px;
    border: 2px solid #171717;
}

button {
    color: #ffffff;
    border-radius: 0px;
    padding: 8px 16px;
}

entry {
    border-radius: 0px;
    color: #ffffff;
}

button:hover {
    background-color: #b4befe;
}

label {
    color: #ffffff;
}
