* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
    background: rgba(30, 30, 46, 0.8); /* Cinza escuro transparente */
    color: #cdd6f4;
    /* border-radius: 12px */;
}

#workspaces button {
    padding: 0 5px;
    color: #89b4fa;
}

#workspaces button.active {
    background-color: #45475a;
    border-bottom: 3px solid #89b4fa;
}

/* Isso remove as cores de fundo dos módulos individuais */
#network, #cpu, #memory, #pulseaudio, #clock, #tray {
    padding: 0 10px;
    background-color: transparent; 
}

#custom-nwglook {
    margin-left: 10px;
    color: #89b4fa;
}
