/* importa as cores do Pywal */
@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.8);
    color: @color4;
    border-bottom: 2px solid @color4; 
}

#custom-nwglook,
#workspaces,
#window,
#network,
#cpu,
#memory,
#pulseaudio,
#clock,
#tray {
    background-color: transparent;
    color: @color4;
    padding: 0px 15px;
    margin: 0px;
}

#workspaces {
    padding: 0px 5px;
    padding-left: 20px;
}

#workspaces button {
    padding: 0px 8px;
    color: @color4;
}

#workspaces button.active {
    background-color: @color4; 
    color: @background;
}

#custom-nwglook {
    font-size: 16px;
    padding-left: 20px;
}

#clock {
    font-weight: bold;
    padding-right: 20px;
}
