window {
    margin: 5px;
    border: 2px solid #89b4fa;
    background-color: rgba(30, 30, 46, 0.8);
    /* border-radius: 12px; */
    outline: none;
}

#entry {
    color: #cdd6f4;
}

#entry:selected {
    background-color: #45475a;
    outline: none;
    /* border-radius: 10px; */
}

#input {
    margin: 5px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 5px;
    opacity: 1.0;
    color: #ffffff; 
}
