window.thunar {
    background-color: rgba(30, 30, 46, 0.8);
}

* {
    font-family: "JetBrainsMono Nerd Font";
}

.thunar, thunar-window, .standard-view, .sidebar {
    background-color: rgba(30, 30, 46, 0.8) !important;
    color: #cdd6f4 !important;
}

menubar, toolbar, label {
    color: #cdd6f4 !important;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

selection {
    background-color: #89b4fa !important;
    color: #1e1e2e !important;
}
