[Desktop Entry]
Name=Bruno
Type=Application
Exec=/home/SEU_USUARIO/AppImages/Bruno.AppImage --ozone-platform-hint=auto %U
Icon=/home/SEU_USUARIO/AppImages/icons/bruno.png
Terminal=false
Categories=Development;
MimeType=x-scheme-handler/bruno;
